@use '../variables'

#portfolio
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding: 3rem
    gap: 1rem

    h1
        text-align: center
        width: 100%
        font-size: min(80px, max(8vw, 30px))
        overflow-wrap: anywhere
        margin-bottom: .1rem
        background: variables.$gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

@media print
    #portfolio
        display: block
        padding: 0
