@use '../variables'
@use '../mixins'

#sidebar
    background-color: variables.$bg-color
    border-radius: variables.$container-border-radius
    flex: 1 1 0
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    position: relative
    padding: 2rem 0
    min-width: 336.66px

    img
        width: 30%
        min-width: 175px
        object-fit: cover
        border-radius: variables.$container-border-radius

    .title
        color: variables.$text-color-secondary
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 1rem
        padding: .8rem 1.2rem

    .btn
        @include mixins.btn
        &:hover
            cursor: pointer

@media print
    #sidebar
        background-color: variables.$print-bg-color
        border-radius: unset
        display: block
        text-align: left
        padding: 0

        .title
            color: variables.$print-text-color
            background-color: variables.$print-bg-color
            font-size: 2rem
            padding: 0
            margin-bottom: 1rem
            color: #000

        img
            display: inline-block
            float: right
            margin-right: 2rem
            width: 20%
            min-width: 0
            filter: grayscale(100%)
        .btn
            display: none
